@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*Convention: overwritting (i.e. reseting) these stylings, just in case.*/
* {
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #1B2440;
    font-family: "Orbitron", monospace;
}

button {
    font-family: "Cute Font", Courier New, Courier, monospace;
}

.container,
.container>* {
    /*display: flex;
    justify-content: space-evenly;*/
    border: solid red;
}

/*
#home-div,
#guest-div,
#home-score-div,
#guest-score-div {
    width: 20%;
}
*/

#home-div,
#guest-div {
    background-color: black;
    /* development */
    color: white;
}

#home-score-div,
#guest-score-div {
    background-color: black;
    color: red;
}